* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $bodyBgColor;
  color: $bodyColor;
  font-family: $fontFamily;
  font-size: $fontSize;
  font-weight: 400;

  &.closed {
    .sidebar {
      white-space: nowrap;
      width: 5%;

      .ui-menuitem-text,
      .company-logo {
        visibility: hidden;
      }
    }

    .main-panel {
      width: 95%;
    }
  }
}

a {
  color: $linkColor;

  &:active,
  &:focus,
  &:link {
    color: $linkColor;
    outline: none;
    text-decoration: none;
  }

  &:hover {
    color: $stateFocusBgColor;
    outline: none;
    text-decoration: none;
  }
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.inner-container {
  padding: 20px;
}

.clearfix {
  clear: both;

  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

.white-bg {
  background: #FFF;
  margin-bottom: 20px;
  padding: 15px 20px;
}

.middle-title {
  color: #283142;
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  margin: 22px 0 12px;

  & + .form-buttons {
    margin-top: 10px;
  }
}

.ui-g-row {
  margin-left: -.5em;
  margin-right: -.5em;

  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.text-blue {
  color: #0E4AAA;
}

.text-red {
  color: #E23850;
}

.grid-white-bg {
  background: #FFF;
  margin-top: 20px;
  padding: 15px 0;
}

.grid-header {
  border-bottom: 2px solid #A1A2A2;
  padding: 10px 15px;
}

.grid-content {
  border-bottom: 1px solid #A1A2A2;
  font-size: 14px;
  padding: 15px;

  .vehicle-details {
    display: inline-block;

    &:first-child {
      margin-right: 10px;
    }

    p {
      &:last-child {
        color: $vehicleNumber;
      }
    }
  }

  .grid-edit-row {
    color: $buttonColor;
    cursor: pointer;
    font-size: 20px;
    margin-right: 15px;
  }
  .grid-delete-row {
    color: $remove;
    cursor: pointer;
    font-size: 20px;
    margin-right: 15px;
  }
}


// History grid
.history-grid {
  background: $white;
  margin-bottom: 30px;

  .grid-header {
    color: $gridHeaderTextColor;
    font-size: 11px;
    font-weight: 600;
    opacity: .8;
  }

  .grid-content {
    font-size: 15px;

    .price-dabit {
      color: $remove;
      font-weight: 600;
    }
  }
}
