.form-field {
  margin: 0 0 15px;
  .form-control {
    > label {
      display: block;
      font-size: 13px;
      margin: 0 0 6px;
      opacity: .6;
    }
  }
}
.form-errors {
  color: $stateErrorTextColor;
  font-size: 12px;
  margin: 5px 0 0;
}

.ui-inputtext {
  border: 1px solid #E4E3E3;
  font-size: 16px;
  height: 40px;
  line-height: 30px;
  padding: 5px 10px;
  width: 100%;
}

.form-container {
  background-color: $white;

  .form-controller {
    p-dropdown {
      .ui-dropdown {
        border-radius: 4px;
        min-width: 100%;

        &:hover {
          background: transparent;
        }

        .ui-dropdown-trigger {
          background-color: $white;
          border-left: 0;
          width: 25px;

          span {
            line-height: 33px;

            &::before {
              color: $downArrow;
              content: '\f078';
              opacity: .7;
            }
          }
        }

        .ui-dropdown-label {
          border-radius: 4px;
        }
      }

      &.ng-invalid {
        label {
          color: $placeholderColor;
        }
      }
    }

    .input-type-text {
      border-radius: 4px;
    }

    .password-field {
      border: 1px solid $inputBorderColor;
      border-radius: 4px;
      height: 40px;
      width: 100%;
    }

    p-autoComplete {
      .ui-autocomplete {
        width: 100%;
      }

      .ui-inputtext {
        border-radius: 4px;
      }

      .ui-autocomplete-dropdown {
        background: $white;
        border: 0;
        height: 96%;
        position: absolute;
        right: 11px;
        top: 1px;

        .ui-button-icon-left {
          &::before {
            color: #283142;
            content: '\F078';
            opacity: .7;
          }
        }
      }

      .vehicle-numbers {
        float: left;
        font-size: 16px;
        margin: 10px 10px 0 0;
      }
    }

    p-selectButton {
      .ui-selectbutton {
        .ui-button {
          background: $white;
          border-radius: 4px;
          color: $buttonSelect;
          font-size: 16px;
          font-weight: 600;
          height: 50px;
          margin-bottom: 1em;
          margin-right: 1em;
          min-width: 100px;

          &:hover {
            background: $white;
            color: $buttonSelect;
          }

          &.ui-state-active {
            border: 1px solid $buttonColor;
            color: $buttonColor;
          }
          .ui-button-text {
            line-height: 40px;
          }
        }
      }
    }

    p-spinner {
      span {
        input {
          height: 40px;
          width: 100%;
        }

        &.ui-corner-all {
          width: 100%;
        }

        button {
          .fa-caret-up {
            &::before {
              color: $downArrow;
              content: '\f077';
              font-size: 12px;
            }
          }

          .fa-caret-down {
            &::before {
              color: $downArrow;
              content: '\f078';
              font-size: 12px;
            }
          }

          &:hover,
          &:focus {
            background: transparent;
            border-color: #DDD;

            .fa-caret-up {
              &::before {
                color: #0073EA;
                content: '\f077';
                font-size: 12px;
              }
            }

            .fa-caret-down {
              &::before {
                color: #0073EA;
                content: '\f078';
                font-size: 12px;
              }
            }
          }
        }
      }
    }

    p-tabView {
      .ui-tabview {
        border: 0;
        padding: 0;

        .ui-tabview-nav {
          border-bottom: 1px solid #EDEDED;
          padding: 0;

          li {
            background: transparent;
            border: 0;

            a {
              border-bottom: 3px solid transparent;
              color: #354052;
              font-size: 16px;
              line-height: 40px;
              padding: 0;
            }

            &:hover {
              background: transparent;

              a {
                color: #354052;
              }
            }

            &.ui-state-active {
              background: transparent;
              border: 0;

              a {
                border-color: #0E4AAA;
              }
            }

            & + li {
              margin-left: 20px;
            }
          }
        }

        .ui-tabview-panel {
          padding: 1em 0;
        }
      }
    }

    p-radiobutton {
      .ui-radiobutton-box {
        &.ui-state-active {
          color: $buttonDefaultBgColor;
        }
      }
    }

    p-calendar {
      .ui-inputtext {
        width: calc(100% - 1.8em);
      }
    }
  }
}

.form-buttons {
  .ui-button {
    border: 0;
    border-radius: 4px;
    font-size: 15px;
    height: $buttonDefaultTextHeight;
    margin: 0;

    span {
      &::before {
        font-size: 18px;
      }
    }

    &.cancel-button {
      background: $buttonCancelBgColor;
      color: $buttonCancelTextColor;

      &:enabled {
        &:active {
          background-color: $buttonCancelBgColor;
        }

        &:hover {
          background-color: $buttonCancelBgColor;
        }
      }
    }

    &.save-button {
      background-color: $buttonDefaultBgColor;
      color: $buttonDefaultTextColor;

      &:enabled {
        &:active {
          background-color: $buttonDefaultBgColor;
        }
      }
    }

    & + .ui-button {
      margin-left: 10px;
    }
  }
}

p-dialog {
  .popup {
    .ui-dialog-content {
      padding: 20px;
      text-align: center;

      h3 {
        margin-bottom: 10px;
      }

      p {
        margin-bottom: 10px;
      }

      .ui-button {
        background-color: #0E4AAA;
        border: 0;
        border-radius: 4px;
        color: #FFF;
        height: 30px;
      }
    }
  }
}

p-fileupload {
  .ui-fileupload-content {
    display: none;
  }
}
