// Colors 

$bodyBgColor: #ECF0F1;
$bodyColor: #333;
$mainContentBgColor: #EEE;
$inputGroupTextColor: #333;

$topBarBgColor: #FFF;
$topBarItemHoverBgColor: #00877B;

$linkColor: #4A90E2;
$basicColor: #3E3E3E;
$topBarLinkBGColor: #3981D5;
$topBarTextColor: $basicColor;

$sidebarBgColor:  #283142;
$sidebarMenuTextColor: rgba(255, 255, 255, .8);
$sideBarHoverBgColor:  #373F4F;
$sidebarMenuHoverTextColor: #1FB3EB;
$sidebarShadowBGColor: rgba(0, 0, 0, .3);

$tabmenuNgColor: #434C50;
$tabmenuLinkColor: #FFF;
$tabmenuLinkBorderColor: #57A4FD;

$signInBgColor: url('/assets/images/signin_bg_img.png') no-repeat #0E4AAA;
$signInErrorColor: #999;
$forgotPasswordHeadingColor: #FFF;
$signInBoxWidth: 370px;

$headerFontSize: 24px;
$btnRadius: 20px;

$buttonDefaultTextColor: #FFF;
$buttonDefaultBgColor: #0E4AAA;
$buttonDefaultTextHeight: 40px;

$buttonCancelTextColor: #EFEFEF;
$buttonCancelBgColor: #333;

$buttonInfoBgColor: #DCDEDF;

$pageHeaderBgColor: #DDD;
$panelDivBgColor: #FFF;

// Forms

$formFieldTopBottomMargin: 8px;
$formFieldLeftRightMargin: 0;
$inputFieldsBgColor: #FFF;
$inputFieldBorderColor: #DDD;
$inputTextHeight: 35px;

// Pring NG 

$fontFamily:  'Open Sans', sans-serif;
$fontSize: 14px;
$borderRadius: 2px;
$disabledOpacity: .35;
$starColor: #F19B0F;

// Header
$headerBorderWidth: 1px;
$headerBorderColor: #FFF;
$headerBgColor: #FFF;
$headerTextColor: #444;
$headerFontWeight: bold;
$headerIconTextColor: #444;

// Content
$contentBorderWidth: 1px;
$contentBorderColor: #DDD;
$contentBgColor: #FFF;
$contentTextColor: #444;

// Default State
$stateDefaultBorderWidth: 1px;
$stateDefaultBorderColor: #DDD;
$stateDefaultBgColor: #F6F6F6;
$stateDefaultTextColor: #0073EA;

// Active State
$stateActiveBorderColor: #DDD;
$stateActiveBgColor: #FFF;
$stateActiveTextColor: #9158D9;

// Highlight State
$stateHighlightBorderColor: #9158D9;
$stateHighlightBgColor: #9158D9;
$stateHighlightTextColor: #FFF;

// Focus State
$stateFocusBorderColor: #0073EA;
$stateFocusBgColor: #0073EA;
$stateFocusTextColor: #FFF;

// Error State
$stateErrorBorderColor: #DDD;
$stateErrorBgColor: #FFF;
$stateErrorTextColor: #FF0084;

// Hover State
$stateHoverBorderColor: #0073EA;
$stateHoverBgColor: #0073EA;
$stateHoverTextColor: #FFF;

// Forms
$inputBgColor: #FFF;
$inputTextColor: #444;
$invalidInputBorderColor: #FF0084;

//Grid 
$gridHeaderTextColor: #354052;;
$gridbodyTextColor: #333;
$gridHeaderBgColor: $topBarBgColor;
$gridHeaderBorderColor: $topBarBgColor;
$gridBtnColorDanger: #D9534F;
$gridBtnColorDangerFocus: #C9302C;
$gridBtnColorSuccess: #5CB85C;
$gridBtnColorSuccessFocus: #449D44;
$color_log_cabin_approx: #333;
$loaderBgColor: transperent;
$color_boulder_40_approx: rgba(120, 120, 120, .4);
$color_fuscous_gray_40_approx: rgba(80, 80, 80, .4);
$color_shark_40_approx: rgba(40, 40, 40, .4);
$black_40: rgba(0, 0, 0, .4);
$color_jewel_approx: #217346;
$color_japanese_laurel_approx: #006400;
$color_red_berry_approx: #8B0000;
$color_surf_crest_approx: #CEC;
$white: #FFF;
$color_quill_gray_approx: #D3D3D3;
$color_pumice_approx: #C7C7C7;
$color_danube_approx: #5B9BD5;
$color_silver_approx: #BEBEBE;
$color_black_haze_approx: #F6F6F6;
$color_gallery_approx: #F0F0F0;
$white_50: rgba(255, 255, 255, .5);
$black: #000;
$gray: #808080;
$gridOddRowColor: rgba(224, 226, 229, .2);
$gridRowSelectedColor: #88BAB5;
$gridHeaderBgColor: #FFF;
$gridSelectorHighliterColor: rgba(53, 64, 82, .2);
$defaultThemeColor: #333;
$actionButtonDeactivate: #333;
$gridSelectedRowHover: rgba(224, 226, 229, .8);
$paginationTextColor: #333;
$sidebarIconColor: #333;
$gridFileHoverColor: #333;

// Text 
$textColor: #FFF;
// *********************************************Digipare project*************************************
$buttonColor: #0E4AAA;
$borderColor: #DEDEDE;
$cancelBg: #283142;
$costColor: #999;
$createButton: #0052A4;
$downArrow: #676E79;
$inputBorder: #F0F0F0;
$labelColor: #283142;
$logoBackground: #F6F6F6;
$textColor: #354052;
$vehicleNumber: #9E9E9E;
$white: #FFF;
$remove: #E23850;
$mainHeader: #283142;


$white: #FFF;
$downArrow: #283142;
$saveButton: #0052A4;
$cancelHover: #0B0C0E;
$buttonSelect: #999;
$placeholderColor: #898997;
$inputBorderColor: #E4E3E3;
