<div class="signin-box-container ui-g">
    <div class="signin-box-inner-container">
        <div class="signin-box-logo">
            <img width="400" src="/assets/images/logo.png">
        </div>
        <div class="signin-box signup-box">
            <h2 class="signin-title" translate>lbl_sign_up</h2>
            <form [formGroup]="signUpForm">
                <div class="form-container ui-g">

                    <div class="form-controller ui-g-12 ui-g-nopad">
                        <div class="form-field-input ui-g-row">
                            <div class="form-field ui-g-6">
                                <div class="form-control">
                                    <label translate>lbl_cpf</label>
                                    <input formControlName="cpf" type="text" pInputText />
                                </div>
                                <div class="form-errors" *ngIf="signUpForm.controls.cpf.errors  && (signUpForm.controls.cpf.dirty || signUpForm.controls.cpf.touched)">
                                    <div [hidden]="!signUpForm.controls.cpf.errors.required" translate>
                                        err_cpf_required
                                    </div>
                                    <div [hidden]="!signUpForm.controls.cpf.errors.invalid" translate>
                                        err_cpf_invalid
                                    </div>
                                </div>
                            </div>
                            <div class="form-field ui-g-6">
                                <div class="form-control">
                                    <label translate>lbl_name</label>
                                    <input formControlName="name" type="text" pInputText />
                                </div>
                                <div class="form-errors" *ngIf="signUpForm.controls.name.errors  && (signUpForm.controls.name.dirty || signUpForm.controls.name.touched)">
                                    <div [hidden]="!signUpForm.controls.name.errors.required" translate>
                                        err_name_required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-field-input ui-g-row">
                            <div class="form-field ui-g-6">
                                <div class="form-control">
                                    <label translate>lbl_email</label>
                                    <input formControlName="email" type="text" pInputText />
                                </div>
                                <div class="form-errors" *ngIf="signUpForm.controls.email.errors  && (signUpForm.controls.email.dirty || signUpForm.controls.email.touched)">
                                    <div [hidden]="!signUpForm.controls.email.errors.required" translate>
                                        err_email_required
                                    </div>
                                    <div [hidden]="!signUpForm.controls.email.errors.pattern" translate>
                                        err_email_pattern
                                    </div>
                                </div>
                            </div>
                            <div class="form-field ui-g-6">
                                <div class="form-control">
                                    <label translate>lbl_phone</label>
                                    <input formControlName="phone" type="text" pInputText />
                                </div>
                                <div class="form-errors" *ngIf="signUpForm.controls.phone.errors  && (signUpForm.controls.phone.dirty || signUpForm.controls.phone.touched)">
                                    <div [hidden]="!signUpForm.controls.phone.errors.required" translate>
                                        err_phone_required
                                    </div>
                                    <div [hidden]="!signUpForm.controls.phone.errors.pattern" translate>
                                        err_digit_pattern
                                    </div>
                                    <div [hidden]="!signUpForm.controls.phone.errors.maxlength" translate>
                                        err_phone_max_length
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-field-input ui-g-row">
                            <div class="form-field ui-g-6">
                                <div class="form-control">
                                    <label translate>lbl_dob</label>
                                    <p-calendar formControlName="dob" [showIcon]="true"></p-calendar>
                                </div>
                                <div class="form-errors" *ngIf="signUpForm.controls.dob.errors  && (signUpForm.controls.dob.dirty || signUpForm.controls.dob.touched)">
                                    <div [hidden]="!signUpForm.controls.dob.errors.required" translate>
                                        err_dob_required
                                    </div>
                                    <div [hidden]="!signUpForm.controls.dob.errors.invalid" translate>
                                        err_dob_invalid
                                    </div>
                                </div>
                            </div>
                            <div class="form-field ui-g-6">
                                <div class="form-control">
                                    <label translate>lbl_password</label>
                                    <input formControlName="password" type="password" pInputText />
                                </div>
                                <div class="form-errors" *ngIf="signUpForm.controls.password.errors  && (signUpForm.controls.password.dirty || signUpForm.controls.password.touched)">
                                    <div [hidden]="!signUpForm.controls.password.errors.required" translate>
                                        err_password_required
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-field-buttons ui-g-12 ui-g-nopad">
                            <div class="form-buttons">
                                <button pButton [label]="'btn_signup' | translate" type="submit" [disabled]="!signUpForm.valid" (click)="doSignUp()" class="save-button"></button>
                            </div>
                        </div>

                        <div class="form-field-bottom form-field-other ui-g-12 ui-g-nopad">
                            <ul>
                                <li translate>lbl_sign_in_with</li>
                                <li>
                                    <a href="">
                                    <img src="/assets/images/signin-google.png" />
                                </a>
                                </li>
                                <li>
                                    <a href="">
                                    <img src="/assets/images/signin-facebook.png" />
                                </a>
                                </li>
                            </ul>
                        </div>

                        <div class="form-field-bottom form-field-signup ui-g-12 ui-g-nopad">
                            <ul>
                                <li translate>lbl_already_have_account</li>
                                <li>
                                    <a routerLink="/sign-in" translate>lbl_sign_in</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<p-growl [(value)]="msgs"></p-growl>
