<div class="ui-g white-bg clearfix">
    <div class="pull-left">
        <span translate>Total payment to be made : </span>
        <span translate>$ 3,594</span>
    </div>
    <div class="pull-right">
        <span translate>Transaction ID :</span>
        <span>1234</span>
    </div>
</div>

<div class="white-bg">
    <form [formGroup]="buySaldo">
        <div class="form-container ui-g">
            <div class="form-controller ui-g-12 ui-g-nopad">
                <div class="form-field-input ui-g-12 ui-g-nopad">
                    <div class="form-field">
                        <div class="form-control">
                            <label translate>lbl_select_payment</label>
                        </div>
                    </div>
                    <p-tabView>
                        <p-tabPanel header="Saved Cards">
                            <div class="ui-g ui-g-row">
                                <div class="ui-g-12">
                                    <p-radioButton name="groupCard" value="card1" label="**** **** **** 1234" formControlName="savedCard"></p-radioButton>
                                </div>
                                <div class="ui-g-12">
                                    <p-radioButton name="groupCard" value="card2" label="**** **** **** 1234" formControlName="savedCard"></p-radioButton>
                                </div>
                                <div class="ui-g-12">
                                    <p-radioButton name="groupCard" value="card3" label="**** **** **** 1234" formControlName="savedCard"></p-radioButton>
                                </div>
                            </div>
                        </p-tabPanel>

                        <p-tabPanel header="Pay Via Credit Card">
                            <div class="ui-g ui-g-row">
                                <div class="form-field ui-g-6">
                                    <div class="form-control">
                                        <label translate>lbl_cc_no</label>
                                        <input formControlName="ccno" type="text" pInputText />
                                    </div>
                                    <div class="form-errors" *ngIf="buySaldo.controls.ccno.errors  && (buySaldo.controls.ccno.dirty || buySaldo.controls.ccno.touched)">
                                        <div [hidden]="!buySaldo.controls.ccno.errors.required" translate>
                                            err_add_ccno
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui-g ui-g-row">
                                <div class="form-field ui-g-2">
                                    <div class="form-control">
                                        <label translate>lbl_expiry_date</label>
                                        <p-dropdown [options]="expirymm" formControlName="expirymm" [placeholder]="'placeholder_expirymm' | translate"></p-dropdown>
                                    </div>
                                    <div class="form-errors" *ngIf="buySaldo.controls.expirymm.errors  && (buySaldo.controls.expirymm.dirty || buySaldo.controls.expirymm.touched)">
                                        <div [hidden]="!buySaldo.controls.expirymm.errors.required" translate>
                                            err_expirymm_required
                                        </div>
                                    </div>
                                </div>
                                <div class="form-field ui-g-2">
                                    <div class="form-control">
                                        <label translate>&nbsp;</label>
                                        <p-dropdown [options]="expiryyy" formControlName="expiryyy" [placeholder]="'placeholder_expiryyy' | translate"></p-dropdown>
                                    </div>
                                    <div class="form-errors" *ngIf="buySaldo.controls.expiryyy.errors  && (buySaldo.controls.expiryyy.dirty || buySaldo.controls.expiryyy.touched)">
                                        <div [hidden]="!buySaldo.controls.expiryyy.errors.required" translate>
                                            err_expiryyy_required
                                        </div>
                                    </div>
                                </div>
                                <div class="form-field ui-g-2">
                                    <div class="form-control">
                                        <label translate>lbl_ccv</label>
                                        <input formControlName="ccv" type="text" pInputText />
                                    </div>
                                    <div class="form-errors" *ngIf="buySaldo.controls.ccv.errors  && (buySaldo.controls.ccv.dirty || buySaldo.controls.ccv.touched)">
                                        <div [hidden]="!buySaldo.controls.ccv.errors.required" translate>
                                            err_ccv_required
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui-g-row">
                                <div class="ui-g-12">
                                    <p-checkbox name="group1" value="saveCard" [label]="'lbl_save_card' | translate" formControlName="saveCard"></p-checkbox>
                                </div>
                            </div>

                        </p-tabPanel>

                        <p-tabPanel header="Pay Via Debit Card">
                            tab 3
                        </p-tabPanel>
                        <p-tabPanel header="Pay Via Boleto">
                            tab 4
                        </p-tabPanel>
                    </p-tabView>
                </div>

                <div class="form-field-buttons ui-g-12 ui-g-nopad">
                    <div class="form-buttons">
                        <button pButton [label]="'btn_cancel' | translate" type="button" (click)="doCancel()" class="cancel-button"></button>
                        <button pButton [label]="'btn_proceed_to_pay' | translate" type="submit" [disabled]="!buySaldo.valid" (click)="doProceed()"
                            class="save-button"></button>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>

<p-dialog modal="modal" styleClass="popup" [(visible)]="showSuccessPopup" [closable]=false [width]="400" [showHeader]="false">
  <div class="ui-g-12 ui-g-nopad popup-body">
    <h3 class="text-blue" translate>suc_saldo_cads_added</h3>
    <p translate>suc_amount_added</p>
    <button class="" pButton type="button" [label]="'btn_continue' | translate" (click)="successUpdateClick()"></button>
  </div>
</p-dialog>

<p-dialog modal="modal" styleClass="popup" [(visible)]="showErrorPopup" [closable]=false [width]="400" showHeader="false">
  <div class="ui-g-12 popup-body">
    <h3 class="text-red" translate>err_some_went_wrong</h3>
    <button class="" pButton type="button" [label]="'btn_try_again' | translate" (click)="errorUpdateClick()"></button>
  </div>
</p-dialog>