<div class="ui-g ui-g-nopad">
  <div class="ui-g-4">
    <div class="card">
      <div class="card-label label-saldo" translate>
        lbl_saldo
      </div>
      <div class="card-content">
        {{dashboardData.AccountBalanceModel.SaldoEspecie}}
      </div>
      <div class="card-link">
        <i class="fa fa-plus-circle card-link-glyph" aria-hidden="true"></i>
        <span class="card-link-text" translate>lbl_add_saldo</span>
      </div>
    </div>
  </div>
  <div class="ui-g-4">
    <div class="card">
      <div class="card-label label-bonus" translate>
        lbl_bonus
      </div>
      <div class="card-content">
        0
      </div>
      <div class="card-link">
        <i class="fa fa-plus-circle card-link-glyph" aria-hidden="true"></i>
        <span class="card-link-text" translate>lbl_redeem_bonus</span>
      </div>
    </div>
  </div>
  <div class="ui-g-4">
    <div class="card">
      <div class="card-label label-cads" translate>
        lbl_cads
      </div>
      <div class="card-content">
        {{dashboardData.AccountBalanceModel.SaldoCads}}
      </div>
      <div class="card-link">
        <i class="fa fa-plus-circle card-link-glyph" aria-hidden="true"></i>
        <span class="card-link-text" translate>lbl_add_cads</span>
      </div>
    </div>
  </div>
</div>
<div class="ui-g content-wrapper booking-carousel">
  <div class="ui-g-12 dashboard-sub-header">
    <span translate>lbl_current_bookings </span> ({{dashboardData.ActiveParkingCount}})
  </div>
  <div class="ui-g-12 ui-g-nopad booking-carousel-wrapper" (touchstart)="touchEvent($event)" (touchmove)="touchEvent($event)"
    (touchend)="touchEvent($event)" (mousedown)="mouseEvent($event)" (wheel)="wheelEvent($event)" (mouseenter)="calculateCarouselScrollLimit()">
    <div class="ui-g-12 ui-g-nopad booking-card-carousel" #cardWrapper>
      <div class="ui-g booking-card" *ngFor="let item of dashboardData.UsersCurrentActiveParkings">
        <div class="booking-icon">
          <div class="booking-vehicle-avatar">
            <!-- <img src="assets/images/car.svg" class="vehicle-img" alt=""> -->
          </div>
        </div>
        <div class="booking-details">
          <div class="vehicle-name">{{item.VehicleName}}</div>
          <div class="vehicle-number">{{item.VehicleLicensePlate}}</div>
        </div>
      </div>
    </div>
    <div class="booking-carousel-scrollbar" #carouselScroll></div>
  </div>
</div>
<div class="ui-g content-wrapper booking-history">
  <div class="ui-g-12 dashboard-sub-header" translate>lbl_booking_history</div>
  <div class="ui-g-12 data-table-container">
    <div class="ui-g-12 ui-g-nopad data-table-filter">
      <div class="ui-g-2 ui-lg-2 ui-md-4">
        <input type="text" class="filter-input" pInputText placeholder="Search by vehicle id" />
      </div>
      <div class="ui-g-2 ui-lg-2 ui-md-4">
        <!-- <p-dropdown [autoWidth]="false" class="" styleClass="ui-g-12 ui-g-nopad filter-dropdown" placeholder="Vehicle"></p-dropdown> -->
        <p-multiSelect styleClass="ui-g-12 ui-g-nopad filter-multiselect" [options]="vehicles" defaultLabel="Vehicle" maxSelectedLabels="0"
          [(ngModel)]="selectedVehicle" optionLabel="VehicleName"></p-multiSelect>
      </div>
      <div class="ui-g-2 ui-lg-2 ui-md-4">
        <!-- <p-dropdown [autoWidth]="false" class="" styleClass="ui-g-12 ui-g-nopad filter-dropdown" placeholder="City"></p-dropdown> -->
        <p-multiSelect styleClass="ui-g-12 ui-g-nopad filter-multiselect" [options]="cities" defaultLabel="City" maxSelectedLabels="0"
          [(ngModel)]="selectedCity" optionLabel="VehicleName"></p-multiSelect>
      </div>
      <div class="ui-g-2 ui-lg-2 ui-md-4">
        <p-dropdown [autoWidth]="false" class="" styleClass="ui-g-12 ui-g-nopad filter-dropdown" placeholder="Booking Type"></p-dropdown>
      </div>
      <div class="ui-g-2 ui-lg-2 ui-md-4">
        <p-calendar [showIcon]="true" styleClass="filter-calendar" [style]="{'width':'calc(100% - 2em)'}"></p-calendar>
      </div>
      <div class="ui-g-2 ui-lg-2 ui-md-4" style="text-align:center">
        <div class="ui-g-6 ui-g-nopad">
          <button pButton type="button" label="Filter" style="height:40px"></button>
        </div>
        <div class="ui-g-6 ui-g-nopad">
          <button pButton type="button" label="Reset" style="height:40px"></button>
        </div>
      </div>
    </div>
    <div class="ui-g-12 ui-g-nopad grid-header">
      <div class="ui-g-2 ui-g-nopad">Vehicle name &amp; id</div>
      <div class="ui-g-2 ui-g-nopad">City</div>
      <div class="ui-g-2 ui-g-nopad">Date &amp; time</div>
      <div class="ui-g-2 ui-g-nopad">Booked by</div>
      <div class="ui-g-1 ui-g-nopad">Fare</div>
      <div class="ui-g-2 ui-g-nopad">Payment Type</div>
      <div class="ui-g-1 ui-g-nopad"></div>
    </div>
    <div class="ui-g-12 grid-content" *ngFor="let booking of searchHistoryData, let idx = index">
      <div class="ui-g-2 ui-g-nopad">{{booking.VehicleName.trim() || "-"}}</div>
      <div class="ui-g-2 ui-g-nopad">{{booking.CityName.trim() || "-"}}</div>
      <div class="ui-g-2 ui-g-nopad">{{booking.ParkingStartTime.trim() || "-"}}</div>
      <div class="ui-g-2 ui-g-nopad">{{booking.BookingType.trim() || "-"}}</div>
      <div class="ui-g-1 ui-g-nopad">${{booking.Value.trim() || "-"}}</div>
      <div class="ui-g-2 ui-g-nopad">{{booking.PaymentMethod.trim() || "-"}}</div>
      <div (click)="toggleDetailView(idx)" class="ui-g-1 ui-g-nopad">
        <i class="fa fa-chevron-down"></i>
      </div>
      <div [hidden]="!booking.detailView" class="ui-g-12 detail-view">
        <div class="detail-map">
          <img style="height:100px" src="https://maps.googleapis.com/maps/api/staticmap?zoom=15&size=200x100&maptype=roadmap&markers=color:red%7Clabel:DP%7C40.718217,-73.998284&key=AIzaSyCHBdtxiUBpaFCM8W0N9dp15D3ZIVWIxk8"
            alt="">
        </div>
        <div class="detail-other">
          <div class="ui-g-3 detail-label">
            <div class="ui-g-12">
              <i class="fa fa-ticket" aria-hidden="true">
                <span> Receipt Number</span>
              </i>
            </div>
            <div class="ui-g-12">
              <i class="fa fa-map-marker" aria-hidden="true">
                <span> Location</span>
              </i>
            </div>
            <div class="ui-g-12">
              <i class="fa fa-map-pin" aria-hidden="true">
                <span> Area</span>
              </i>
            </div>
          </div>
          <div class="ui-g-3 detail-value">
            <div class="ui-g-12">Receipt Number</div>
            <div class="ui-g-12">Location</div>
            <div class="ui-g-12">Area</div>
          </div>
          <div class="ui-g-3 detail-label">
            <div class="ui-g-12">
              <i class="fa fa-clock-o" aria-hidden="true">
                <span> From</span>
              </i>
            </div>
            <div class="ui-g-12">
              <i class="fa fa-clock-o" aria-hidden="true">
                <span> To</span>
              </i>
            </div>
          </div>
          <div class="ui-g-3 detail-value">
            <div class="ui-g-12"> value</div>
            <div class="ui-g-12"> value</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>