.password-change {
  .password-header {
    margin-bottom: 20px;

    label {
      color: $mainHeader;
      font-size: 16px;
      opacity: .8;
    }
  }

  .change-password-form {
    border-radius: 4px;
    padding-bottom: 30px;

    label {
      &.labels {
        color: $downArrow;
        font-size: 13px;
        opacity: .6;
      }
    }

    .visited-link {
      padding-top: 5px;

      span {
        color: $buttonDefaultBgColor;
        cursor: pointer;
        float: right;
        font-size: 12px;
      }
    }
  }
}
