<p-growl [(value)]="message"></p-growl>
<div class="password-change">
  <div class="password-header">
    <label translate>lbl_change_password</label>
  </div>
  <div class="ui-g-12 change-password-form form-container">
    <form [formGroup]="changePasswordFrom" (ngSubmit)="changePaasswordAction(changePasswordFrom.value)">
      <div class="ui-g-12">
        <div class="ui-g-4">
          <div class="ui-g-12">
            <label class="labels" translate>lbl_old_password</label>
          </div>
          <div class="ui-g-12 form-controller">
            <input type="password" class="password-field" formControlName="currentPassword" />
            <div class="form-errors" *ngIf="changePasswordFrom.controls.currentPassword.errors  && (changePasswordFrom.controls.currentPassword.dirty || changePasswordFrom.controls.currentPassword.touched)">
              <div [hidden]="!changePasswordFrom.controls.currentPassword.errors.required" translate>
                err_old_password
              </div>
              <div [hidden]="!changePasswordFrom.controls.currentPassword.errors.minlength && !changePasswordFrom.controls.currentPassword.errors.maxlength"
                translate>
                err_common_password
              </div>
            </div>
          </div>
        </div>

        <div class="ui-g-4">
          <div class="ui-g-12">
            <label class="labels" translate>lbl_new_password</label>
          </div>
          <div class="ui-g-12 form-controller">
            <input type="password" class="password-field" #newPassword formControlName="newPassword" (keyup)="newPass(newPassword.value)"
            />
            <div class="form-errors" *ngIf="changePasswordFrom.controls.newPassword.errors  && (changePasswordFrom.controls.newPassword.dirty || changePasswordFrom.controls.newPassword.touched)">
              <div [hidden]="!changePasswordFrom.controls.newPassword.errors.required" translate>
                err_new_password
              </div>
              <div [hidden]="!changePasswordFrom.controls.newPassword.errors.minlength && !changePasswordFrom.controls.newPassword.errors.maxlength"
                translate>
                err_common_password
              </div>
            </div>
          </div>
        </div>

        <div class="ui-g-4">
          <div class="ui-g-12">
            <label class="labels" translate>lbl_cnf_password</label>
          </div>
          <div class="ui-g-12 form-controller">
            <input type="password" class="password-field" #cnfPassword formControlName="cnfPassword" (keyup)="cnfPass(cnfPassword.value)"
            />
            <div class="form-errors" *ngIf="changePasswordFrom.controls.cnfPassword.errors  && (changePasswordFrom.controls.cnfPassword.dirty || changePasswordFrom.controls.cnfPassword.touched)">
              <div [hidden]="!changePasswordFrom.controls.cnfPassword.errors.required" translate>
                err_cnf_password
              </div>
              <div [hidden]="!changePasswordFrom.controls.cnfPassword.errors.minlength && !changePasswordFrom.controls.cnfPassword.errors.maxlength"
                translate>
                err_common_password
              </div>
            </div>
            <div class="form-errors" *ngIf="isValidate" translate>err_confirm_pass_not_match</div>
          </div>
        </div>
      </div>
      <div class="ui-g-12 form-buttons">
        <button pButton type="button" class="cancel-button" icon="fa fa-times-circle-o" [label]="'cancel_button'|translate"></button>
        <button pButton type="submit" class="save-button" icon="fa fa-check-circle-o" [label]="'lbl_change_password'|translate" [disabled]="!changePasswordFrom.valid || isValidate"></button>
      </div>
    </form>
  </div>
</div>