app-header {
  background-color: $topBarBgColor;
  box-shadow: 0 4px 9px 0 rgba(0, 0, 0, .02);
  color: $topBarTextColor;

  .header-item {
    float: left;
    line-height: 60px;
    padding: 0 15px;

    a {
      color: $topBarTextColor;
      cursor: pointer;

      &:hover {
        color: $topBarTextColor;
      }
    }
  }

  .header-right-menu {
    float: right;

    .header-profile {
      .user-photo {
        border-radius: 50%;
        display: inline-block;
        margin-right: 7px;
        max-width: 35px;
        vertical-align: middle;
      }
    }
  }

  .header-left-menu {
    float: left;
  }
}
