app-sidebar {
  background-color: $sidebarBgColor;
  min-height: 100vh;

  .company-logo {
    text-align: center;

    img {
      margin: 0 auto 20px;
      max-width: 100%;
      padding: 15px 30px;
    }
  }

  .ui-panelmenu {
    .ui-panelmenu-header {
      border: 0;

      &.ui-state-active {
        a {
          color: $sidebarMenuTextColor;
        }
      }

      a {
        background-color: $sidebarBgColor;
        color: $sidebarMenuTextColor;
        display: block;
        padding: 15px 16px;

        .ui-menuitem-icon {
          background-image: url('/assets/images/icons.png');
          background-repeat: no-repeat;
          height: 30px;
          width: 30px;

          &.dashboard-icon {
            background-position: -65px -50px;
          }

          &.booking-icon {
            background-position: -65px -104px;
          }

          &.saldo-icon {
            background-position: -65px -157px;
          }

          &.bonus-icon {
            background-position: -65px -271px;
          }

          &.regularization-icon {
            background-position: -65px -324px;
          }

          &.data-icon {
            background-position: -65px -380px;
          }

          &.password-icon {
            background-position: -65px -437px;
          }

          &.phones-icon {
            background-position: -65px -493px;
          }

          &.vehicles-icon {
            background-position: -65px -545px;
          }

          &.reports-icon {
            background-position: -65px -597px;
          }
        }

        &.ui-state-active {
          background: $sideBarHoverBgColor;
          color: $sidebarMenuHoverTextColor;
          font-weight: bold;

          .ui-menuitem-icon {
            &.dashboard-icon {
              background-position: -184px -50px;
            }

            &.booking-icon {
              background-position: -184px -104px;
            }

            &.saldo-icon {
              background-position: -184px -157px;
            }

            &.bonus-icon {
              background-position: -184px -271px;
            }

            &.regularization-icon {
              background-position: -184px -324px;
            }

            &.data-icon {
              background-position: -184px -380px;
            }

            &.password-icon {
              background-position: -184px -437px;
            }

            &.phones-icon {
              background-position: -184px -493px;
            }

            &.vehicles-icon {
              background-position: -184px -545px;
            }

            &.reports-icon {
              background-position: -184px -597px;
            }
          }
        }
      }
    }
  }
}
