<h3 class="middle-title" translate>lbl_registration_data</h3>

<div class="white-bg">
  <form [formGroup]="registrationForm">
    <div class="form-container ui-g">
      <div class="ui-g-12">
        <div class="ui-g-row">
          <div class="form-upload ui-g-2">
            <div class="profileimage">
              <img [src]=fileUrl />
            </div>
            <p-fileUpload name="file[]" url="fileUrl" auto="auto" (onSelect)="onSelect($event)" ngDefaultControl accept="image/*"></p-fileUpload>
          </div>
          <div class="form-controller ui-g-10">
            <div class="form-field-input ui-g-row">
              <div class="form-field ui-g-4">
                <div class="form-control">
                  <label translate>lbl_cpf</label>
                  <input formControlName="cpf" type="text" pInputText />
                </div>
                <div class="form-errors" *ngIf="registrationForm.controls.cpf.errors  && (registrationForm.controls.cpf.dirty || registrationForm.controls.cpf.touched)">
                  <div [hidden]="!registrationForm.controls.cpf.errors.required" translate>
                    err_cpf_required
                  </div>
                  <div [hidden]="!registrationForm.controls.cpf.errors.invalid" translate>
                    err_cpf_invalid
                  </div>
                </div>
              </div>
              <div class="form-field ui-g-4">
                <div class="form-control">
                  <label translate>lbl_name</label>
                  <input formControlName="name" type="text" pInputText />
                </div>
                <div class="form-errors" *ngIf="registrationForm.controls.name.errors  && (registrationForm.controls.name.dirty || registrationForm.controls.name.touched)">
                  <div [hidden]="!registrationForm.controls.name.errors.required" translate>
                    err_name_required
                  </div>
                </div>
              </div>
              <div class="form-field ui-g-4">
                <div class="form-control">
                  <label translate>lbl_email</label>
                  <input formControlName="email" type="text" pInputText />
                </div>
                <div class="form-errors" *ngIf="registrationForm.controls.email.errors  && (registrationForm.controls.email.dirty || registrationForm.controls.email.touched)">
                  <div [hidden]="!registrationForm.controls.email.errors.required" translate>
                    err_email_required
                  </div>
                  <div [hidden]="!registrationForm.controls.email.errors.pattern" translate>
                    err_email_pattern
                  </div>
                </div>
              </div>
            </div>
            <div class="form-field-input ui-g-row">
              <div class="form-field ui-g-4">
                <div class="form-control">
                  <label translate>lbl_phone</label>
                  <input formControlName="phone" type="text" pInputText />
                </div>
                <div class="form-errors" *ngIf="registrationForm.controls.phone.errors  && (registrationForm.controls.phone.dirty || registrationForm.controls.phone.touched)">
                  <div [hidden]="!registrationForm.controls.phone.errors.required" translate>
                    err_phone_required
                  </div>
                  <div [hidden]="!registrationForm.controls.phone.errors.pattern" translate>
                    err_digit_pattern
                  </div>
                  <div [hidden]="!registrationForm.controls.phone.errors.maxlength" translate>
                    err_phone_max_length
                  </div>
                </div>
              </div>
              <div class="form-field ui-g-4">
                <div class="form-control">
                  <label translate>lbl_dob</label>
                  <p-calendar formControlName="dob" [showIcon]="true"></p-calendar>
                </div>
                <div class="form-errors" *ngIf="registrationForm.controls.dob.errors  && (registrationForm.controls.dob.dirty || registrationForm.controls.dob.touched)">
                  <div [hidden]="!registrationForm.controls.dob.errors.required" translate>
                    err_dob_required
                  </div>
                  <div [hidden]="!registrationForm.controls.dob.errors.invalid" translate>
                    err_dob_invalid
                  </div>
                </div>
              </div>
            </div>
            <div class="form-field-button ui-g">
              <div class="form-field">
                <div class="form-buttons">
                  <button pButton [label]="'btn_cancel' | translate" type="button" class="cancel-button"></button>
                  <button pButton [label]="'btn_submit' | translate" type="submit" [disabled]="!registrationForm.valid" (click)="doSubmit()"
                    class="save-button"></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<p-growl [(value)]="msgs"></p-growl>