<!-- APP HOME ROUTING -->
<div class="ui-g ui-g-nopad device-height">
  <!-- APP SIDE NAV -->
  <app-sidebar class="sidebar ui-g-12 ui-md-3 ui-lg-2 ui-g-nopad"></app-sidebar>
  <div class="main-panel ui-g-12 ui-md-9 ui-lg-10 ui-g-nopad">
    <app-header class="top-nav ui-g ui-g-nopad"></app-header>
    <!-- MAIN CONTENT -->
    <div class="inner-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
