<p-growl [value]="messages">
</p-growl>

<p-confirmDialog></p-confirmDialog>

<div *ngIf="!isDetailView">
  <h3 class="middle-title">
    <span translate>lbl_registered_vehicles</span> ({{vehicleService?.vehicles?.length}})</h3>
  <div class="form-buttons pull-right">
    <button pButton [label]="'btn_add_vehicle' | translate" class="Add Vehicle" class="save-button" (click)="onAddVehicleClick()"></button>
  </div>

  <div class="ui-g-12 app-mi-grid-outer gridparent grid-no-search grid-white-bg">
    <!-- GRID HEADER -->
    <div class="ui-g-12 ui-g-nopad grid-header">
      <div class="ui-g-10 ui-g-nopad">
        Name
      </div>
      <div class="ui-g-2 ui-g-nopad">
        Action
      </div>
    </div>

    <!-- GRID BODY -->
    <div class="ui-g-12 ui-g-nopad grid-content" *ngFor="let vehicle of vehicleService.vehicles">

      <div class="ui-g-10 ui-g-nopad">
        <div class="vehicle-details">
          <img width="50" height="20" *ngIf="appConstant.VEHICLE_TYPE.MOTORCYCLE == vehicle.VehicleType" src="./assets/images/motorcycle.png">
          <img width="50" height="20" *ngIf="appConstant.VEHICLE_TYPE.BUS == vehicle.VehicleType" src="./assets/images/bus.png">
          <img width="50" height="20" *ngIf="appConstant.VEHICLE_TYPE.CAR == vehicle.VehicleType" src="./assets/images/car.png">
          <img width="50" height="20" *ngIf="appConstant.VEHICLE_TYPE.TRUCK == vehicle.VehicleType" src="./assets/images/truck.png">
        </div>
        <div class="vehicle-details">
          <p>{{vehicle.VehicleName}}</p>
          <p>{{vehicle.Plate}}</p>
        </div>

      </div>
      <div class="ui-g-2 ui-g-nopad">
        <span class="grid-edit-row">
          <i class="fa fa-pencil" aria-hidden="true" (click)="editVehicle(vehicle)"></i>
        </span>
        <span class="grid-delete-row">
          <i class="fa fa-trash-o" aria-hidden="true" (click)="onShowDeletePopup(vehicle.VehicleId)"></i>
        </span>
      </div>
    </div>
  </div>

</div>

<router-outlet [hidden]="!isDetailView" (activate)="componentAdded($event)" (deactivate)="componentRemoved($event)"></router-outlet>