.bonus-regularization-list {
  .select-days {
    margin-bottom: 30px;
    margin-top: 20px;

    p-dropdown {
      .ui-dropdown {
        border-radius: 4px;
        min-width: 100%;

        &:hover {
          background: transparent;
        }

        .ui-dropdown-trigger {
          background-color: $white;
          border-left: 0;
          width: 25px;

          span {
            line-height: 33px;

            &::before {
              color: $downArrow;
              content: '\f078';
              opacity: .7;
            }
          }
        }

        .ui-dropdown-label {
          border-radius: 4px;
        }
      }

      &.ng-invalid {
        label {
          color: $placeholderColor;
        }
      }
    }
  }
}
