.bonus-redemption {
  .back-to-list {
    background-color: $white;
    border-radius: 4px;
    color: $mainHeader;
    font-size: 16px;
    line-height: 40px;
    margin-bottom: 20px;
    opacity: .8;
    text-align: center;
    width: 305px;

    span {
      padding: 0 5px;
    }
  }

  .bonus-header {
    margin-bottom: 20px;

    label {
      color: $mainHeader;
      font-size: 16px;
      opacity: .8;
    }
  }

  .bonus-form {
    border-radius: 4px;
    padding-bottom: 30px;

    label {
      &.labels {
        color: $downArrow;
        font-size: 13px;
        opacity: .6;
      }
    }

    .form-controller {
      .ui-inputgroup {
        position: relative;

        input {
          border: 1px solid #E4E3E3;
          border-radius: 4px;
        }

        .ui-button-secondary {
          border: 0;
          position: absolute;
          right: 10px;
          top: 5px;

          &:hover {
            background: $white;
          }

          &:enabled {
            &:active {
              background: $white;
            }
          }

          .fa-qrcode {
            top: 45%;

            &::before {
              color: $buttonColor;
              font-size: 22px;
            }
          }
        }
      }
    }

    .visited-link {
      padding-top: 5px;

      span {
        color: $buttonDefaultBgColor;
        cursor: pointer;
        float: right;
        font-size: 12px;
      }
    }
  }
}
