app-editable-registered-vehicles {
  .back-to-list-outer {
    .back-to-list {
      background-color: #FFF;
      border-radius: 4px;
      color: #283142;
      display: inline-block;
      font-size: 16px;
      line-height: 40px;
      padding: 0 20px;

      span {
        padding: 0 5px;
      }
    }
  }
}
