<p-growl [(value)]="message"></p-growl>
<div class="bonus-redemption">
  <div class="back-to-list" (click)="navigateToBonusList($event)"><span><i class="fa fa-long-arrow-left" aria-hidden="true"></i></span><span translate>lbl_back_to_bonus_list</span></div>
  <div class="bonus-header">
    <label translate>btn_add_bonus</label>
  </div>
  <div class="ui-g-12 bonus-form form-container">
    <form [formGroup]="bonusRedemptionForm" (ngSubmit)="bonusFormAction(bonusRedemptionForm.value)">
      <div class="ui-g-12">
        <div class="ui-g-4">
          <div class="ui-g-12">
            <label class="labels" translate>select_city_label</label>
          </div>
          <div class="ui-g-12 form-controller">
            <p-dropdown [options]="cities" formControlName="selectedCity"></p-dropdown>
            <div class="form-errors" *ngIf="bonusRedemptionForm.controls.selectedCity.errors  && (bonusRedemptionForm.controls.selectedCity.dirty || bonusRedemptionForm.controls.selectedCity.touched)">
              <div [hidden]="!bonusRedemptionForm.controls.selectedCity.errors.required" translate>
                err_city_required
              </div>
            </div>
          </div>
        </div>

        <div class="ui-g-4">
          <div class="ui-g-12">
            <label class="labels" translate>lbl_warning_nimber</label>
          </div>
          <div class="ui-g-12 form-controller">
            <div class="ui-inputgroup">
              <input type="text" pInputText [placeholder]="'lbl_warning_nimber' | translate" formControlName="warningNumber">
              <button pButton type="button" icon="fa fa-qrcode" class="ui-button-secondary"></button>
            </div>
            <div class="form-errors" *ngIf="bonusRedemptionForm.controls.warningNumber.errors  && (bonusRedemptionForm.controls.warningNumber.dirty || bonusRedemptionForm.controls.warningNumber.touched)">
              <div [hidden]="!bonusRedemptionForm.controls.warningNumber.errors.required" translate>
                err_warning_number
              </div>
              <div [hidden]="!bonusRedemptionForm.controls.warningNumber.errors.maxlength" translate>
                err_warning_length
              </div>
            </div>
          </div>
        </div>

        <div class="ui-g-4">
          <div class="ui-g-12">
            <label class="labels" translate>lbl_number_plate</label>
          </div>
          <div class="ui-g-12 form-controller">
            <div class="ui-inputgroup">
              <input type="text" pInputText [placeholder]="'lbl_number_plate' | translate" formControlName="numberPlate" [appVehiclePlate]="true">
            </div>
            <div class="form-errors" *ngIf="bonusRedemptionForm.controls.numberPlate.errors  && (bonusRedemptionForm.controls.numberPlate.dirty || bonusRedemptionForm.controls.numberPlate.touched)">
              <div [hidden]="!bonusRedemptionForm.controls.numberPlate.errors.required" translate>
                err_number_plate
              </div>
              <div [hidden]="!bonusRedemptionForm.controls.numberPlate.errors.invalid" translate>
                msg_invalid_plate
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ui-g-12 form-buttons">
        <button pButton type="button" class="cancel-button" icon="fa fa-times-circle-o" [label]="'cancel_button'|translate"></button>
        <button pButton type="submit" class="save-button" icon="fa fa-check-circle-o" [label]="'btn_bonus_redemption'|translate"
          [disabled]="!bonusRedemptionForm.valid"></button>
      </div>
    </form>
  </div>
</div>