.create-booking {
  .booking-header {
    color: #283142;
    font-size: 16px;
    margin-bottom: 10px;
    opacity: .8;
    text-align: left;
  }

  .booking-section {
    background-color: $white;
    padding-bottom: 30px;

    .labels {
      color: $labelColor;
      font-size: 13px;
      opacity: .6;
      padding-left: 0;
      text-align: left;
    }
    .vehicle-section {
      .vehicle-list {
        padding: 0;

        .ui-g-3 {
          padding: 0;
        }
      }
    }

    .duration-type {
      .duration-list {
        display: flex;
        flex-wrap: wrap;
        padding: 0;

        .duration-cost {
          background-color: $white;
          border: solid .5px $borderColor;
          border-radius: 5px;
          color: $costColor;
          height: 50px;
          margin-bottom: 20px;
          margin-right: 20px;
          width: 100px;

          p {
            line-height: 25px;
            text-align: center;

            &:first-child {
              font-size: 20px;
              font-weight: 500;
            }

            &:last-child {
              font-size: 11px;
            }
          }

          &.active {
            border: solid 1px $buttonColor;
            color: $buttonColor;
          }
        }
      }

      p-selectButton {
        &.duration-time {
          .ui-selectbutton {
            .ui-button {
              font-size: 20px;
            }
          }
        }
      }
    }
    .set-reminder {
      .reminder-count {
        position: relative;

        .reminder-item {
          text-align: right;
        }
        .add-reminder {
          color: $buttonColor;
          font-size: 12px;
        }
        .remove {
          color: $remove;
          font-size: 12px;
        }
      }
    }

    .submit-buttons {
      .cancel {
        background-color: $cancelBg;
        border-radius: 4px;
        height: 40px;
        width: 118px;

        span {
          color: $white;
          margin-left: 12px;

          &::before {
            font-size: 18px;
          }
        }
      }

      .submit {
        background-color: $createButton;
        border-radius: 4px;
        color: $white;
        height: 40px;
        width: 178px;

        span {
          color: $white;
          margin-left: 12px;

          &::before {
            font-size: 18px;
          }
        }
      }
    }
  }
}
