<div class="signin-box-container ui-g">
    <div class="signin-box-inner-container">
        <div class="signin-box-logo">
            <img width="400" src="/assets/images/logo.png">
        </div>
        <div class="signin-box">
            <h2 class="signin-title" translate>lbl_login</h2>
            <form [formGroup]="signInForm">
                <div class="form-container ui-g">
                    
                    <div class="form-controller">
                        <div class="form-field-input ui-g-12 ui-g-nopad">
                            <div class="form-field">
                                <div class="form-control">
                                    <label translate>lbl_cpf</label>
                                    <input formControlName="cpf" type="text" pInputText />
                                </div>
                                <div class="form-errors" *ngIf="signInForm.controls.cpf.errors  && (signInForm.controls.cpf.dirty || signInForm.controls.cpf.touched)">
                                    <div [hidden]="!signInForm.controls.cpf.errors.required" translate>
                                        err_cpf_required
                                    </div>
                                </div>
                            </div>
                            <div class="form-field">
                                <div class="form-control">
                                    <label translate>lbl_password</label>
                                    <input formControlName="password" type="password" pInputText />
                                </div>
                                <div class="form-errors" *ngIf="signInForm.controls.password.errors  && (signInForm.controls.password.dirty || signInForm.controls.password.touched)">
                                    <div [hidden]="!signInForm.controls.password.errors.required" translate>
                                        err_password_required
                                    </div>
                                </div>
                            </div>
                            <div class="forgot-link">
                                <a routerLink="/forgot-password" translate>lbl_forgot_password</a>
                            </div>

                            <div class="form-field">
                                <div class="form-control">
                                    <label translate>lbl_select_country</label>
                                    <p-dropdown [options]="country" formControlName="country" [placeholder]="'placeholder_country' | translate" (onChange)="loadCountryLang()"></p-dropdown>
                                </div>
                                <div class="form-errors" *ngIf="signInForm.controls.country.errors  && (signInForm.controls.country.dirty || signInForm.controls.country.touched)">
                                    <div [hidden]="!signInForm.controls.country.errors.required" translate>
                                        err_country_required
                                    </div>
                                </div>
                            </div>

                            <div class="form-field">
                                <div class="form-control">
                                    <label translate>lbl_select_language</label>
                                    <p-dropdown [options]="language" formControlName="language" [placeholder]="'placeholder_language' | translate"></p-dropdown>
                                </div>
                                <div class="form-errors" *ngIf="signInForm.controls.language.errors  && (signInForm.controls.language.dirty || signInForm.controls.language.touched)">
                                    <div [hidden]="!signInForm.controls.language.errors.required" translate>
                                        err_language_required
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-field-buttons ui-g-12 ui-g-nopad">
                            <div class="form-buttons">
                                <button pButton [label]="'btn_signin' | translate" type="submit" [disabled]="!signInForm.valid" (click)="doSignIn()" class="save-button"></button>
                            </div>
                        </div>

                        <div class="form-field-bottom form-field-other ui-g-12 ui-g-nopad">
                            <ul>
                                <li translate>lbl_sign_in</li>
                                <li>
                                    <a href="">
                                    <img src="/assets/images/signin-google.png" />
                                </a>
                                </li>
                                <li>
                                    <a href="">
                                    <img src="/assets/images/signin-facebook.png" />
                                </a>
                                </li>
                            </ul>
                        </div>

                        <div class="form-field-bottom form-field-signup ui-g-12 ui-g-nopad">
                            <ul>
                                <li translate>lbl_dont_account</li>
                                <li>
                                    <a routerLink="/sign-up" translate>lbl_sign_up</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<p-growl [(value)]="msgs"></p-growl>
