<p-growl [(value)]="message"></p-growl>
<div class="create-booking">
  <div class="booking-header" translate>lbl_create_booking</div>
  <form class="form-container" [formGroup]="createBookingForm" (ngSubmit)="createBooking(createBookingForm.value)">
    <div class="ui-g booking-section">
      <div class="ui-g-12 area-section">
        <div class="ui-g-3 ui-md-6 ui-xl-3 form-controller">
          <label class="ui-g-12 labels" translate>select_city_label</label>
          <p-dropdown [options]="cities" formControlName="selectedCity" (onChange)="getCurrentCity($event)"></p-dropdown>
          <div class="form-errors" *ngIf="createBookingForm.controls.selectedCity.errors  && (createBookingForm.controls.selectedCity.dirty || createBookingForm.controls.selectedCity.touched)">
            <div [hidden]="!createBookingForm.controls.selectedCity.errors.required" translate>
              err_select_city
            </div>
          </div>
        </div>
        <div class="ui-g-3 ui-md-6 ui-xl-3 form-controller" *ngIf="areaCount !== 0">
          <label class="ui-g-12 labels" translate>lbl_select_area</label>
          <p-dropdown [options]="areas" formControlName="selectedArea" (onChange)="getSelectedArea($event)"></p-dropdown>
          <div class="form-errors" *ngIf="createBookingForm.controls.selectedArea.errors  && (createBookingForm.controls.selectedArea.dirty || createBookingForm.controls.selectedArea.touched)">
            <div [hidden]="!createBookingForm.controls.selectedArea.errors.required" translate>
              err_select_area
            </div>
          </div>
        </div>
        <div class="ui-g-3"></div>
        <div class="ui-g-3"></div>
      </div>
      <div class="ui-g-12 vehicle-section">
        <div class="ui-g-3 ui-md-6 ui-xl-3">
          <label class="ui-g-12 labels" translate>lbl_select_vehicle</label>
          <div class="ui-g-12 vehicle-list">
            <div class="vehicle form-controller">
              <p-autoComplete [suggestions]="filteredVehicles" formControlName="selectedVehicles" (completeMethod)="filterVehicles($event)"
                [size]="30" [minLength]="1" [placeholder]="'placeholder_car' | translate" [dropdown]="true" field="Plate">
                <ng-template let-selectedVehicle pTemplate="item">
                  <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
                    <img src="assets/images/vahicles/{{selectedVehicle.VehicleType}}.png" style="width:32px;display:inline-block;margin:5px 0 2px 5px"/>
                    <div class="vehicle-numbers" style="float:right"><span>{{selectedVehicle?.Plate}}</span> <span *ngIf="selectedVehicle.VehicleName !== null && selectedVehicle.VehicleName !==''">({{selectedVehicle?.VehicleName}})</span></div>
                  </div>
                </ng-template>
              </p-autoComplete>
              <div class="form-errors" *ngIf="createBookingForm.controls.selectedVehicles.errors  && (createBookingForm.controls.selectedVehicles.dirty || createBookingForm.controls.selectedVehicles.touched)">
                <div [hidden]="!createBookingForm.controls.selectedVehicles.errors.required" translate>
                  err_select_vehicle
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="ui-g-12 duration-type" *ngIf="durations.length > 0">
        <div class="ui-g-12">
          <label class="ui-g-12 labels" translate>lbl_select_duration</label>
          <div class="ui-g-12 duration-list form-controller">
            <p-selectButton [options]="durations" formControlName="selectedDurationType"></p-selectButton>
          </div>
        </div>
      </div>

      <!--<div class="ui-g-12 duration-type" *ngIf="durationTime.length > 0">
        <div class="ui-g-12">
          <label class="ui-g-12 labels" translate>lbl_select_time</label>
          <div class="ui-g-12 duration-list form-controller">
            <p-selectButton class="duration-time" [options]="durationTime" formControlName="selectedDurationTime"></p-selectButton>
          </div>
        </div>
      </div>-->

      <div class="ui-g-12 parking-slot" *ngIf="isXaximCity">
        <div class="ui-g-3 ui-md-6 ui-xl-3">
          <label class="ui-g-12 labels" translate>lbl_select_slot</label>
          <div class="ui-g-12 ui-g-nopad form-controller">
            <!--<p-spinner size="30" formControlName="bookingSlot" [min]="0"></p-spinner>-->
            <input class="input-type-text" type="text" pInputText formControlName="bookingSlot" [placeholder]="'placeholder_slot' | translate">
            <!--<input type="number" formControlName="bookingSlot">-->
            <div class="form-errors" *ngIf="createBookingForm.controls.bookingSlot.errors  && (createBookingForm.controls.bookingSlot.dirty || createBookingForm.controls.bookingSlot.touched)">
              <div [hidden]="!createBookingForm.controls.bookingSlot.errors.required" translate>
                err_parking_slot
              </div>
              <div [hidden]="!createBookingForm.controls.bookingSlot.errors.maxlength" translate>
                err_digit_count
              </div>
              <div [hidden]="!createBookingForm.controls.bookingSlot.errors.pattern" translate>
                <div [hidden]="createBookingForm.controls.bookingSlot.errors.maxlength" translate>
                  err_invalid_slot
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="ui-g-12 form-buttons">
        <button pButton class="cancel-button" type="button" label="Cancel" icon="fa fa-times-circle-o"></button>
        <button pButton class="save-button" type="submit" label="Create Booking" icon="fa fa-check-circle-o" [disabled]="!createBookingForm.valid"></button>
      </div>
    </div>
  </form>
</div>