<p-growl [(value)]="message"></p-growl>
<div class="back-to-list-outer">
  <div class="back-to-list">
    <a (click)="onGoToPrevPageClick()">
      <span>
        <i aria-hidden="true" class="fa fa-long-arrow-left"></i>
      </span>
      <span translate>Check vehicle list</span>
    </a>
  </div>
</div>

<h3 class="middle-title" translate>lbl_registered_vehicles</h3>

<div class="white-bg">
  <form [formGroup]="editableVehicle">
    <div class="form-container ui-g">
      <div class="form-controller ui-g-12 ui-g-nopad">
        <div class="form-field-input ui-g-row">
          <div class="form-field ui-g-12">
            <div class="form-control">
              <label translate>lble_vehicle_plate</label>
              <p-selectButton [options]="vehicles" [disabled]="isEditVehicle" formControlName="VehicleType"></p-selectButton>
            </div>
          </div>
        </div>
        <div class="form-field-input ui-g-row">
          <div class="form-field ui-g-5">
            <div class="form-control">
              <label translate>lbl_car_name</label>
              <input formControlName="VehicleName" type="text" pInputText [appUpperCase]="true" />
            </div>
            <div class="form-errors" *ngIf="editableVehicle.controls.VehicleName.errors  && (editableVehicle.controls.VehicleName.dirty || editableVehicle.controls.VehicleName.touched)">
              <div [hidden]="!editableVehicle.controls.VehicleName.errors.required" translate>
                err_car_name
              </div>
            </div>
          </div>
          <div class="form-field ui-g-5">
            <div class="form-control">
              <label translate>lbl_car_noplate</label>
              <input formControlName="Plate" type="text" pInputText [appVehiclePlate]="true"/>
            </div>
            <div class="form-errors" *ngIf="editableVehicle.controls.Plate.errors  && (editableVehicle.controls.Plate.dirty || editableVehicle.controls.Plate.touched)">
              <div [hidden]="!editableVehicle.controls.Plate.errors.required && editableVehicle.controls.Plate.errors.invalid" translate>
                err_car_noplate
              </div>
              <div [hidden]="editableVehicle.controls.Plate.errors.required && !editableVehicle.controls.Plate.errors.invalid" translate>
                msg_invalid_plate
              </div>
            </div>
          </div>
        </div>

        <div class="form-field-input ui-g-row">
          <div class="form-field ui-g-12">
            <div class="form-control">
              <p-checkbox formControlName="IsAutoDebit" [label]="'lbl_is_auto_debit' | translate" binary="true"></p-checkbox>
            </div>
          </div>

        </div>

        <div class="form-field-buttons ui-g-12 ui-g-nopad">
          <div class="form-buttons">
            <button pButton [label]="'btn_cancel' | translate" type="button" (click)="onGoToPrevPageClick()" class="cancel-button"></button>
            <button pButton [label]="'btn_save' | translate" type="submit" [disabled]="!editableVehicle.valid" (click)="saveVehicle()"
              class="save-button"></button>
          </div>
        </div>

      </div>
    </div>
  </form>
</div>