<div class="ui-g-12 ui-g-nopad">
  <div class="header-left-menu">
    <div class="header-back header-item" (click)="hamburgerClick($event)">
      <a class="header-back-icon">
        <i aria-hidden="true" class="fa fa-bars"></i>
      </a>
    </div>
  </div>
  <div class="header-right-menu">
    <div class="header-language header-item">
      <a (click)="menuLang.toggle($event)" class="header-language-icon">
        Language
        <i class="fa fa-caret-down"></i>
      </a>
      <p-menu #menuLang popup="popup" [model]="userMenuItems"></p-menu>
    </div>    
    <div class="header-profile header-item">
      <a (click)="menuUser.toggle($event)">
        <img class="user-photo" [src]="profileUrl">
        {{userName}}
        <i class="fa fa-caret-down"></i>
      </a>
      <p-menu #menuUser popup="popup" [model]="userMenuItems"></p-menu>
    </div>
  </div>
</div>