<p-growl [(value)]="message"></p-growl>
<div class="bonus-regularization-list">
  <h3 class="middle-title"><span translate>lbl_regularization_data</span> ({{dataQuantity}})</h3>
  <div class="form-buttons pull-right">
    <button pButton [label]="'btn_add_regularization' | translate" class="Add Vehicle" class="save-button" (click)="navigateToAddReg($event)"></button>
  </div>
  <div class="select-days ui-g-12 ui-g-nopad">
    <div class="ui-g-3">
      <p-dropdown [options]="selectDays" (onChange)="getSelectedDays($event)" [(ngModel)]="selectedDays"></p-dropdown>
    </div>
  </div>
  <!-- GRID START-->
  <div class="ui-g-12 ui-g-nopad history-grid">
    <div class="ui-g-12 grid-header">
      <div class="ui-g-2">
        <label translate>lbl_bonus_city</label>
      </div>
      <div class="ui-g-3">
        <label translate>lbl_bonus_warning</label>
      </div>
      <div class="ui-g-5">
        <label translate>lbl_VEHICLE_NUMBER</label>
      </div>
      <div class="ui-g-2">
        <label translate>lbl_bonus_amount</label>
      </div>
    </div>
    <div class="ui-g-12 ui-g-nopad grid-content" *ngFor="let bonus of bonusData">
      <div class="ui-g-2">
        {{bonus?.CityName}}
      </div>
      <div class="ui-g-3">
        {{bonus?.ACT}}
      </div>
      <div class="ui-g-5">
        {{bonus?.VehicleLicensePlate}}
      </div>
      <div class="ui-g-2 price-dabit">
        R$ {{bonus?.Value}}
      </div>
    </div>
  </div>
  <!-- GRID END -->
</div>