.card {
  background-color: #FFF;
  border-radius: 4px;
  box-shadow: 0 4px 9px 0 rgba(0, 0, 0, .02);
  height: 144px; // margin: 10px;
  position: relative;
  .card-label {
    color: #FFF;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    margin-top: 13px;
    min-width: 20%;
    padding: 0 5px;
    text-align: center;
    text-transform: uppercase;
    &.label-saldo {
      background-color: #01B1F0;
    }
    &.label-bonus {
      background-color: #1BB934;
    }
    &.label-cads {
      background-color: #DB952F;
    }
  }
  .card-content {
    color: #354052;
    font-size: 30px;
    height: 68px;
    line-height: 41px;
    text-align: center;
  }
  .card-link {
    background-color: #F5F8FA;
    height: 41px;
    line-height: 41px;
    text-align: center;
    .card-link-glyph {
      color: #0E4AAA;
      font-size: 18px;
      margin-right: 7px;
      position: relative;
      top: 1px;
    }
    .card-link-text {
      color: #1C2431;
      font-size: 13px;
      opacity: .7;
    }
  }
}

.content-wrapper {
  margin-top: 10px;
  padding: 0 7px;
}

.booking-carousel {
  .booking-carousel-wrapper {
    overflow: hidden;
    position: relative;
  }
  .booking-carousel-scrollbar {
    border: 2.5px solid #B1B9B9;
    position: relative; // width: 253px;
    top: 126px;
  }
  .booking-card-carousel {
    cursor: grab;
    display: flex;
    position: relative;
    .booking-card {
      background-color: #FFF;
      border-radius: 4px;
      box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .07);
      height: 130px;
      margin-right: 10px;
      min-width: 360px;
      .booking-icon {
        width: 97.5px;
        .booking-vehicle-avatar {
          background: #F0F0F0 url('assets/images/car.svg') no-repeat center;
          background-size: 50px;
          border-radius: 4px;
          height: 58.2px;
          margin: 19px auto;
          width: 73.5px;
          .vehicle-img {
            height: 100%;
            object-fit: contain;
            width: 100%;
          }
        }
      }
      .booking-details {
        margin: 14px 0;
        width: calc(100% - 97.5px);
        .vehicle-name {
          color: #354052;
          display: inline-block;
          font-size: 15px;
          font-weight: 600;
          text-align: left;
        }
        .vehicle-number {
          color: #9E9E9E;
          display: inline-block;
          font-size: 14px;
          text-align: left;
        }
      }
    }
  }
}

.data-table-container {
  background-color: #FFF;
  padding: 20px 15px;
  .data-table-filter {
    margin-bottom: 20px;
    .filter-input {
      font-size: 14px;
    }
    .filter-multiselect {
      &.ui-multiselect {
        background: none;
        color: #283142;
        width: 100%;
        .ui-multiselect-label-container {
          font-size: 14px;
          height: 42px;
          line-height: 30px;
        }
        .ui-inputtext {
          height: 25px;
        }
        .ui-multiselect-trigger {
          background: none;
          border: 0;
          .fa-caret-down {
            color: #283142;
            font-size: 12px;
            position: relative;
            top: 21%;
            &::before {
              content: '\f078';
            }
          }
        }
      }
    }
    .filter-dropdown {
      .ui-dropdown-trigger {
        background: none;
        border: 0;
        .fa-caret-down {
          color: #283142;
          font-size: 12px;
          position: relative;
          top: 21%;
          &::before {
            content: '\f078';
          }
        }
      }
    }
    .filter-calendar {
      .ui-datepicker-trigger {
        color: #283142;
        &:hover {
          color: #FFF;
        }
      }
    }
  }
  .grid-header {
    color: #283142;
    font-size: 11px;
    font-weight: bold;
    opacity: .8;
    text-align: center;
    text-transform: uppercase;
  }
  .grid-content {
    background: #F7F7F7;
    border-bottom: 0;
    text-align: center;
  }
  .detail-view {
    background: #F7F7F7;
    height: 128px;
    padding: 20px 10px;
    text-align: left;
    .detail-map {
      float: left;
    }
    .detail-other {
      float: right;
      width: calc(100% - 250px);
    }
    .detail-label {
      color: #354052;
      font-size: 12px;
      opacity: .4;
      text-align: left;
    }
    .detail-value {
      color: #283142;
      font-size: 12px;
      text-align: left;
    }
  }
}

.dashboard-sub-header {
  background: none;
  border: 1px solid #ECF1F1;
  color: #354052;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.27;
  opacity: .5;
  padding-left: 0;
  text-transform: uppercase;
}
