.signin-box-container {
  background: $signInBgColor;
  display: table;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  .signin-box-inner-container {
    display: table-cell;
    padding: 10px 0;
    vertical-align: middle;

    .signin-box-logo {
      margin: 0 0 20px;

      img {
        margin: 0 auto;
        max-width: 220px;
      }
    }

    .signin-box {
      // left: 25%;
      background: #FFF;
      border-radius: 4px;
      margin: 0 auto;
      max-width: $signInBoxWidth;
      padding: 40px 45px;
      position: relative;

      &.signup-box {
        max-width: 550px;
      }

      .signin-title {
        font-size: 25px;
        font-weight: 600;
        margin: 0 0 40px;
        text-align: center;
      }

      .form-field {
        margin: 0 0 15px;

        .form-control {
          > label {
            display: block;
            font-size: 13px;
            margin: 0 0 6px;
            opacity: .6;
          }
        }
      }

      .forgot-link {
        color: #0E4AAA;
        font-size: 12px;
        margin: 0 0 15px;
        text-align: right;
      }

      .form-buttons {
        .ui-button {
          width: 100%;
        }
      }

      .form-field-bottom {
        text-align: center;

        &.form-field-other {
          margin: 35px 0 25px;
        }

        li {
          color: #747474;
          display: inline-block;
          font-size: 13px;
          vertical-align: middle;

          a {
            color: #0E4AAA;
            font-size: 16px;
            font-weight: 600;
            margin-left: 8px;
          }
        }
      }
    }
  }
}
