<div class="ui-g white-bg">
  <span translate>Current Saldo </span>
  <span translate>$ 3,594</span>
</div>

<h3 class="middle-title" translate>lbl_add_saldo</h3>
<div class="white-bg">
  <form [formGroup]="buySaldo">
    <div class="form-container ui-g">
      <div class="form-controller ui-g-12 ui-g-nopad">
        <div class="form-field-input ui-g-row">
          <div class="form-field ui-g-10">
            <div class="form-control">
              <input formControlName="amount" type="text" pInputText />
            </div>
            <div class="form-errors" *ngIf="buySaldo.controls.amount.errors  && (buySaldo.controls.amount.dirty || buySaldo.controls.amount.touched)">
              <div [hidden]="!buySaldo.controls.amount.errors.required" translate>
                err_add_amount
              </div>
            </div>
          </div>
          <div class="form-field ui-g-2">
            <div class="form-buttons">
              <button pButton [label]="'lbl_add_amount' | translate" type="submit" [disabled]="!buySaldo.valid" (click)="doAddAmount()"
                class="save-button"></button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </form>
</div>

<h3 class="middle-title"><span translate>lbl_purchase_history</span> (07)</h3>