<div class="bonus-redemption">
  <div class="back-to-list" (click)="navigateToRegList($event)"><span><i class="fa fa-long-arrow-left" aria-hidden="true"></i></span><span translate>lbl_back_to_regularization_list</span></div>
  <div class="bonus-header">
    <label translate>lbl_regularization</label>
  </div>
  <div class="ui-g-12 bonus-form form-container">
    <form [formGroup]="regularizationForm" (ngSubmit)="regularizationFormAction(regularizationForm.value)">
      <div class="ui-g-12">
        <div class="ui-g-4">
          <div class="ui-g-12">
            <label class="labels" translate>select_city_label</label>
          </div>
          <div class="ui-g-12 form-controller">
            <p-dropdown [options]="cities" formControlName="selectedCity"></p-dropdown>
            <div class="form-errors" *ngIf="regularizationForm.controls.selectedCity.errors  && (regularizationForm.controls.selectedCity.dirty || regularizationForm.controls.selectedCity.touched)">
              <div [hidden]="!regularizationForm.controls.selectedCity.errors.required" translate>
                err_city_required
              </div>
            </div>
          </div>
        </div>

        <div class="ui-g-4">
          <div class="ui-g-12">
            <label class="labels" translate>lbl_warning_nimber</label>
          </div>
          <div class="ui-g-12 form-controller">
            <div class="ui-inputgroup">
              <input type="text" pInputText [placeholder]="'lbl_warning_nimber' | translate" formControlName="warningNumber">
              <button pButton type="button" icon="fa fa-qrcode" class="ui-button-secondary"></button>
            </div>
            <div class="form-errors" *ngIf="regularizationForm.controls.warningNumber.errors  && (regularizationForm.controls.warningNumber.dirty || regularizationForm.controls.warningNumber.touched)">
              <div [hidden]="!regularizationForm.controls.warningNumber.errors.required" translate>
                err_warning_number
              </div>
            </div>
          </div>
        </div>

        <div class="ui-g-4">
          <div class="ui-g-12">
            <label class="labels" translate>lbl_number_plate</label>
          </div>
          <div class="ui-g-12 form-controller">
            <div class="ui-inputgroup">
              <input type="text" pInputText [placeholder]="'lbl_number_plate' | translate" formControlName="numberPlate">
            </div>
            <div class="form-errors" *ngIf="regularizationForm.controls.numberPlate.errors  && (regularizationForm.controls.numberPlate.dirty || regularizationForm.controls.numberPlate.touched)">
              <div [hidden]="!regularizationForm.controls.numberPlate.errors.required" translate>
                err_number_plate
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ui-g-12 form-buttons">
        <button pButton type="button" class="cancel-button" icon="fa fa-times-circle-o" [label]="'cancel_button'|translate"></button>
        <button pButton type="submit" class="save-button" icon="fa fa-check-circle-o" [label]="'consult_button'|translate" [disabled]="!regularizationForm.valid"></button>
      </div>
    </form>
  </div>
</div>